@import "tailwindcss";

:root {
  --primary: #4d8bff;
  --bg-light: #ffffff;
  --bg-dark: #000000;
  --text-dark: #000000;
}
html {
  direction: rtl;
} 
body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

@keyframes dot-pulse {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.bg-light {
  background-color: var(--bg-light);
}

.text-dark{
  color: var(--text-dark);
}

.bg-dark {
  background-color: var(--bg-dark);
}

.black-gradient {
  background: linear-gradient(135deg, #000000 0%, #0000008e 100%);
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.slider-snap {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.slider-item {
  scroll-snap-align: start;
}

.edge-shadow-left {
  background: linear-gradient(to right, white 0%, transparent 100%);
}

.edge-shadow-right {
  background: linear-gradient(to left, white 0%, transparent 100%);
}
